torch @ file:///torch-1.7.0a0-cp37-cp37m-linux_x86_64.whl
cupy @ file:///cupy-8.4.0-cp37-cp37m-linux_x86_64.whl
blis==0.7.4
catalogue==2.0.1
certifi==2022.12.7
chardet==4.0.0
click==7.1.2
cymem==2.0.5
fastrlock==0.5
filelock==3.0.12
ftfy==5.9
idna==2.10
importlib-metadata==3.7.0
Jinja2==2.11.3
joblib==1.0.1
MarkupSafe==1.1.1
murmurhash==1.0.5
numpy==1.20.1
packaging==20.9
pathy==0.4.0
preshed==3.0.5
protobuf==3.15.3
pydantic==1.7.4
pyparsing==2.4.7
regex==2020.11.13
requests==2.25.1
sacremoses==0.0.43
sentencepiece==0.1.91
six==1.15.0
smart-open==3.0.0
spacy==3.0.3
spacy-alignments==0.7.2
spacy-legacy==3.0.1
spacy-transformers==1.0.1
srsly==2.4.0
thinc==8.0.1
tokenizers==0.10.1
torchcontrib==0.0.2
tqdm==4.58.0
transformers==4.3.3
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.5
wasabi==0.8.2
wcwidth==0.2.5
zipp==3.4.0

